:root {
    --bg: #f2f2f2;
    --card-fg: #cccccc;
    --text-main: #333333;
    --text-sub: #939393;
    --accent: #91B5E7;
}

body.dark-mode {
    --bg: #0d0d0d;
    --card-fg: #3a3a3a;
    --text-main: #c2c2c2;
    --text-sub: #6d6d6d;
    --accent: #0606E0;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

input {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: normal;
    margin: 0;
    padding: 0;
    border: none;
}

input::placeholder {
    color: var(--text-sub);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: -0.05rem;
    line-height: normal;
    opacity: 1;
    /* Remove default opacity in some browsers */
}

input:focus::placeholder {
    color: var(--text-main);
}

.sidebar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#credit {
    margin: 0;
    width: fit-content;
    font-size: 0.8rem;
    color: var(--text-sub);
    white-space: nowrap;
}

#credit a {
    color: var(--text-sub);
}

.pill {
    padding: 40px;
    background: var(--card-fg);
    border-radius: 50px;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    border: none;
    color: var(--text-main);
    width: 100%;
}

.pill:focus {
    outline: none;
    background-color: var(--accent);
    color: var(--text-main);
}

.pill-short {
    padding: 40px;
    background: var(--card-fg);
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    border: none;
    color: var(--text-main);
}

.pill-short:focus {
    outline: none;
    background-color: var(--accent);
    color: var(--text-main);
}

#dateDisplay {
    width: fit-content;
    white-space: nowrap;
}

#themeToggle {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--card-fg);
    color: var(--text-sub);
    padding: 40px;
    border-radius: 90px;
    cursor: pointer;
}

#themeToggle:hover {
    background-color: var(--accent);
    color: var(--text-main);
}

#themeToggle svg {
    transition: opacity 0.3s ease;
}

.hidden {
    display: none;
}

#categoryGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    flex: 1;
}

.category-card {
    position: relative;
    min-height: 25vh;
    flex: 1;
    padding: 10px;
    border-top: 1px solid var(--card-fg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.category-card.dragging {
    opacity: 1;
    transform: scale(0.98);
    transition: all 0.2s ease;
}

.category-control {
    display: flex;
    flex-direction: row;
}

.category-name {
    background: transparent;
    border: none;
    color: var(--text-sub);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.05em;
    line-height: normal;
    font-size: 0.8rem;
    width: 100%;
}

.add-link-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    color: var(--card-fg);
    font-size: 1rem;
    cursor: pointer;
}

.inline-form {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    background-color: var(--card-fg);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.06);
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    will-change: opacity, transform;
}

.inline-form.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    visibility: hidden;
}

.inline-form input {
    padding: 10px;
    font-size: 0.8rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text-sub);
    color: var(--text-main);
}

.inline-form input::placeholder {
    font-size: 0.8rem;
    color: var(--text-sub);
}

.inline-form input:focus {
    outline: none;
    border-bottom: 1px solid var(--text-main);
}

.inline-form button {
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
    border-radius: 90px;
    background: var(--accent);
    color: var(--text-main);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.inline-form:not(.hidden) {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.link-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 5px;
}

.link-list::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar (Chrome, Safari) */
}

.link-list li {
    padding: 5px 15px;
    background-color: var(--card-fg);
    border-radius: 99px;
    color: var(--text-main);
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 0;
    cursor: pointer;
}

.link-list li:hover {
    background-color: var(--accent);
}

.context-menu {
    position: absolute;
    background: var(--card-fg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.06);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 9999;
    min-width: 100px;
}

.context-menu li {
    padding: 5px 10px;
    color: var(--text-sub);
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease;
}

.context-menu li:hover {
    color: var(--text-main);
    background-color: var(--accent);
}

.hidden {
    display: none;
}